.course-block {
    display: block;
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
}


.course-card-wrapper {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: thin black;
    padding: 15px 5px 15px 20px;
    min-width: 300px;
    width: 45%;
    display: block;
    margin: 20px;
    position: relative;

    flex: 1;
}
.course-card-wrapper h2 {
    line-height: 1.5;
    min-height: 3em;
    margin-top: 0;
    margin-bottom: 5px;
}

[data-theme='light'] {
    .course-card-wrapper:hover {
        background: rgba(187, 187, 187, 25%);
    }
    .course-card-wrapper {
        background: #FFFFFF;
    }
    .tag {
        background: #87d2ce;
    }
}

[data-theme='dark'] {
    .course-card-wrapper {
        background: #1F1F1F;
    }
    .tag {
        background: #2e1e47;
    }
    .course-card-wrapper:hover {
        background: rgba(70, 70, 70, 0.75);
    }
}

.card-content {
    height: 170px;
    display: flex;
}

.card-content img {
    border-radius: 10px;
    width: auto;
    margin: 7px auto;
}

.card-text-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    padding: 7px;
    margin-bottom: 10px;

    text-overflow: clip;
    /*white-space: nowrap;*/
}

.card-text-content-prepod {
    margin: 10px 5px 5px;
    font-weight: bold;
}

.card-text-content-description {
    margin: 0;
    line-height: 1.5;
}

.tags-container {
    /*justify-content: center;*/
    flex-wrap: wrap;
    display: flex;
    margin-top: 15px;
}

.tag {
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    background: #ffe8ae;

    font-family: 'MTSText-Regular', sans-serif;
    line-height: 1;

    font-weight: 300;
    font-size: 12px;
}

@media (max-width: 500px) {
    .course-block {
        /*display: none;*/
    }

    .course-card-wrapper {
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
    }

    .card-content {
        height: 100px;
    }
}