.block-wrapper {
    display: flex;
    height: auto;
    border-radius: 15px;
    border: thin black;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

[data-theme='light'] {
    .block-wrapper {
        background: var(--light-theme-block-color);

        animation-name : to_light_theme_block;
        animation-duration: 0.3s;

    }
}

[data-theme='dark'] {
    .block-wrapper {
        background: var(--dark-theme-block-color);

        animation-name : to_dark_theme_block;
        animation-duration: 0.5s;
    }
}