.block-wrapper {
    display: flex;
    height: auto;
    border-radius: 15px;
    border: thin black;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

[data-theme='light'] {
    .block-wrapper {
        background: #FFFFFF;
    }
}

[data-theme='dark'] {
    .block-wrapper {
        background: #1F1F1F;
    }
}