@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

@font-face {
  font-family: 'MTSSans-Regular';
  src: url('../src/assets/fonts/MTSSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MTSText-Regular';
  src: url('../src/assets/fonts/MTSText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MTSUltraExtended-Bold';
  src: url('../src/assets/fonts/MTSUltraExtended-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MTSUltraExtended-Regular';
  src: url('../src/assets/fonts/MTSUltraExtended-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.App {
  display: flex;
  padding-right: 20px;
}

h1 {
  font-family: 'MTSUltraExtended-Bold', sans-serif;
  font-size: 28px;
}

h2, h3 {
  font-family: 'MTSText-Regular', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

div, span, p {
  font-family: 'MTSText-Regular', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.nav-bar-wrapper {
  width: 50px;
}

.content {
  display: flex;
  flex: 1;
  margin-bottom: 40px;
}

.main-content-wrapper {
  flex: 3;
  margin-left: 20px;
  margin-right: 20px;
}

.sexy-block-wrapper {
  flex: 1;
}

[data-theme='light'] {
  .App {
    background: #FBFBFB;
    color: black;
  }
}

[data-theme='dark'] {
  .App {
    background: #070410;
    color: white;
  }
}

@media (max-width: 1000px) {
  .content {
    flex-direction: column;
  }

  .App {
    padding-right: 0;
  }

  .main-content-wrapper,
  .sexy-block-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
  }
}