@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

.App {
  display: flex;
  padding-right: 20px;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 24px;
}

div, span, p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.nav-bar-wrapper {
  width: 50px;
}

.content {
  display: flex;
  flex: 1;
  margin-bottom: 40px;
  margin-top: 40px;
}

.main-content-wrapper {
  flex: 3;
  margin-left: 20px;
  margin-right: 20px;
}

.sexy-block-wrapper {
  flex: 1;
}

[data-theme='light'] {
  .App {
    background: #FBFBFB;
    color: black;
  }
}

[data-theme='dark'] {
  .App {
    background: #070410;
    color: white;
  }
}

@media (max-width: 1000px) {
  .content {
    flex-direction: column;
  }

  .App {
    padding-right: 0;
  }

  .main-content-wrapper,
  .sexy-block-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
  }
}